.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;

    left: 0;
    backdrop-filter: blur(10px);
    z-index: 10;

    /* background: linear-gradient(
        to left,
        #fc1e4d,
        #7c22da,
        #491edf,
        #261710,
        #4d0e93
        ); */

    height: var(--navbar-height);
}

.navbar-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.company-name {
    font-family: 'Comic Sans MS', cursive;
    font-size: 20px;
    margin-left: 20px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-links {
    list-style: none;
    display: flex;
    padding-right: 1.5rem;
    min-width: 0;
}

a.nav-link {
    text-decoration: none;
    text-transform: capitalize;
    color: inherit;
    /* font-family: 'Comic Sans MS', cursive; */
    background: transparent;
}
a.nav-link:hover {
    background: transparent;
    color: var(--primary-color);
}
.navbar-links a.nav-link-active {
    color: var(--primary-color);
}
.navbar-buttons button {
    margin-left: 10px;
    font-family: 'Comic Sans MS', cursive;
    font-size: 14px;
}
